@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models
@using System.Linq
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;

   var layout = Umbraco.ContentAtRoot()
     .FirstOrDefault(x => x.ContentType.Alias == "masterLayout");


      var logo = layout?.Value<MediaWithCrops>("logo");
      var faviconIcon = layout?.Value<MediaWithCrops>("faviconIcon");

        var headerMenu = layout?.Value<BlockListModel>("headerMenu");

        var ctaButtonText = layout?.Value<string>("ctaButtonText");
        var ctaButtonLinks = layout?.Value<IEnumerable<Link>>("ctaButtonLink");
        var ctaButtonLink = ctaButtonLinks?.FirstOrDefault();

    // Footer Section
    
     var footerLogo = layout?.Value<MediaWithCrops>("footerLogo");
     var socialMediaLink = layout?.Value<string>("socialMediaLink");
     var socialAddress = layout?.Value<string>("socialAddress");
     var pageLinkS = layout?.Value<string>("pageLinkS");
     var contactDetails = layout?.Value<string>("contactDetails");
     var copyRightText = layout?.Value<string>("copyRightText");
     var privacyPolicyHeading = layout?.Value<string>("privacyPolicyHeading");
     var privacyPolicyDescription = layout?.Value<string>("privacyPolicyDescription");
     var termsOfUseHeading = layout?.Value<string>("termsOfUseHeading");
     var termsOfUseDescription = layout?.Value<string>("termsOfUseDescription");


    var currentUrl = Context.Request.Path.Value?.ToLower();

          // Page-level SEO
var seoBlock = Model.Value<BlockListModel>("seoSettings")?
                    .FirstOrDefault()?.Content;
var pageMetaTitle = seoBlock?.Value<string>("metaTitle");
var pageMetaDescription = seoBlock?.Value<string>("metaDescription");
var pageMetaKeywords = seoBlock?.Value<string>("metaKeywords");
var noIndex = seoBlock?.Value<bool>("noIndexNoFollow") ?? false;

      // Final SEO values (Page → Fallback → Hard default)
    var metaTitle =
        !string.IsNullOrWhiteSpace(pageMetaTitle)
        ? pageMetaTitle
        : layout?.Value<string>("defaultMetaTitle") ?? "Vyauma";

    var metaDescription =
        !string.IsNullOrWhiteSpace(pageMetaDescription)
        ? pageMetaDescription
        : layout?.Value<string>("defaultMetaDescription");

    var metaKeywords =
        !string.IsNullOrWhiteSpace(pageMetaKeywords)
        ? pageMetaKeywords
        : layout?.Value<string>("defaultMetaKeywords");
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>@metaTitle</title>
@if (!string.IsNullOrWhiteSpace(metaDescription))
{
    <meta name="description" content="@metaDescription" />
}
@if (!string.IsNullOrWhiteSpace(metaKeywords))
{
    <meta name="keywords" content="@metaKeywords" />
}
@if (noIndex)
{
    <meta name="robots" content="noindex, nofollow" />
}

<link rel="canonical" href="@Model.Url(mode: UrlMode.Absolute)" />

  <!-- Favicons -->
  <link href="@faviconIcon.Url()" rel="icon">
  @* <link href="/img/apple-touch-icon.png" rel="apple-touch-icon"> *@

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/" rel="preconnect">
  <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  @* <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"> *@
@*   </script>
<script type="text/javascript">
    <text>
    (function () {
        emailjs.init({
            publicKey: "nhUEGLj6bz31ww_An"
        });
    })();
    </text>
</script> *@



</head>

<body>

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div
      class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
          @if(logo != null)
          {
          <img src="@logo.Url()" alt="Logo">
          }
      </a>

<nav id="navmenu" class="navmenu">
    <ul>
        @foreach (var menuItem in headerMenu)
        {
            var title = menuItem.Content.Value<string>("title");
            var links = menuItem.Content.Value<IEnumerable<Link>>("link");
            var link = links?.FirstOrDefault();
            var hasMega = menuItem.Content.Value<bool>("hasMegaMenu");

            if (!hasMega)
            {
                <li>
                    @if(link != null && title != null){
                    <a href="@link.Url"
                       class="@(currentUrl == link?.Url ? "active" : "")">
                        @title
                    </a>}
                </li>
            }
            else
            {
                var megaMenus = menuItem.Content.Value<BlockListModel>("megaMenu");

                <li class="mega-dropdown">
                    <a href="javascript:void(0)" class="mega-toggle">
                        @title <i class="bi bi-chevron-down"></i>
                    </a>

                    <div class="mega-menu">
                        <div class="row">

                            <!-- LEFT COLUMN -->
                            <div class="mega-left col-md-4">
                                <ul>
                                    @{
                                        bool isFirst = true;
                                    }

                                    @foreach (var cat in megaMenus)
                                    {
                                        <li class="@(isFirst ? "active" : "")"
                                            data-target="@cat.Content.Value("categoryKey")">
                                            @cat.Content.Value("categoryTitle")
                                        </li>

                                        isFirst = false;
                                    }
                                </ul>
                            </div>

                            <!-- RIGHT COLUMN -->
                            <div class="mega-right col-md-8">
                                @{
                                    bool isFirstContent = true;
                                }

                                @foreach (var cat in megaMenus)
                                {
                                    var items = cat.Content.Value<BlockListModel>("items");

                                    <div class="mega-content @(isFirstContent ? "active" : "")"
                                         id="@cat.Content.Value("categoryKey")">
                                        <div class="row">
                                            @if (items != null)
                                            {
                                                foreach (var item in items)
                                                {
                                                    <div class="col-12 col-md-6 mb-2">
                                                        <div class="card">
                                                            @Html.Raw(item.Content.Value("detailDescription"))
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                    isFirstContent = false;
                                }
                            </div>

                        </div>
                    </div>
                </li>
            }
        }
    </ul>

    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>

      <!--Book button-->
      <a class="btn-getstarted" href="@ctaButtonLink.Url">@ctaButtonText</a>
    </div>
  </header>

    <!-- ✅ MAIN CONTENT -->
        <main class="main">
            @RenderBody()
        </main>


    <div class="modal fade privacy-policy" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-white" id="privacyModalLabel">@privacyPolicyHeading</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">            
            @Html.Raw(privacyPolicyDescription.ToString().Replace("<p>", "").Replace("</p>", ""))
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Terms of Use Modal -->
    <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header text-white">
            <h5 class="modal-title text-white" id="termsModalLabel">@termsOfUseHeading</h5>
            <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-start">
            
            @Html.Raw(termsOfUseDescription.ToString().Replace("<p>", "").Replace("</p>", ""))
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="/" class="logo d-flex align-items-center">
              @if(footerLogo != null)
              {
            <img src="@footerLogo.Url()" alt="">
              }

            <!-- <h1 class="sitename">iLanding</h1> -->
          </a>
          <div class="social-links d-flex mt-4">
              @if(socialMediaLink != null)
              {
             @Html.Raw(socialMediaLink.ToString().Replace("<p>", "").Replace("</p>", "")) 
              }
          </div>

          <div class="footer-contact pt-3">
              @if(socialAddress != null)
              {
           @Html.Raw(socialAddress.ToString().Replace("<p>", "").Replace("</p>", "")) 
              }
          </div>

        </div>

        <div class="col-lg-4 col-md-6 footer-links">
            @if(pageLinkS != null)
            {
          @Html.Raw(pageLinkS.ToString().Replace("<p>", "").Replace("</p>", "")) 
            }
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
            @if(contactDetails != null)
            {
        @Html.Raw(contactDetails.ToString().Replace("<p>", "").Replace("</p>", "")) 
            }
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p> @Html.Raw(copyRightText.ToString().Replace("<p>", "").Replace("</p>", "")) </p>
      <div class="credits">

        <a href="#" data-bs-toggle="modal" data-bs-target="#privacyModal">@privacyPolicyHeading</a> | <a href="#"
          data-bs-toggle="modal" data-bs-target="#termsModal">@termsOfUseHeading</a>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#privacyModal">
          View Privacy Policy
        </button> -->
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/vendor/purecounter/purecounter_vanilla.js"></script>

  <!-- Main JS File -->
  <script src="/scripts/main.js"></script>

</body>
    
</html>